# Ide
.vscode/
.idea/

# Dependencies
.yalc/
yalc.lock
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/
vendor/

# Front-end Build
public/assets/

# Project
public/storage/
/storage/*.key
.env
.phpunit.result.cache
yarn-error.log

# OS
.DS_Store
